.dialog__done {
  display: flex;
  align-items: center;
  gap: 6px;
}
.dialog__body--partner {
  max-width: 926px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .dialog__body--partner {
    overflow: auto;
  }
}
.dialog__title {

}
.dialog__partner-name {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -0.05em;
  padding-top: 56px;
  line-height: 60px;
  padding-bottom: 37px;
  border-bottom: 1px solid var(--black);
}
@media screen and (max-width: 768px) {
  .dialog__partner-name {
    font-size: 34px;
    line-height: 34px;
    padding-bottom: 20px;
  }
}

.dialog__partner-box {
  padding-block: 20px;
  display: flex;
  gap: 75px;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .dialog__partner-box {
    flex-direction: column;
    gap: 45px;
    align-items: center;
  }
}
.dialog__partner-face {
  position: relative;
  overflow: hidden;
  width: 260px;
  flex-shrink: 0;
}
@media screen and (max-width: 375px) {
  .dialog__partner-face {
    width: 100%;
  }
}
.dialog__partner-face-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}
.dialog__partner-face img {
  position: relative;
  width: 100%;
  object-fit: cover;
  z-index: 2;
}
.dialog__partner-face-mask--noise {
  z-index: 4;
  background: url(/images/2_page/noise.png);
}
.dialog__partner-face-mask--1 {
  z-index: 3;
  mix-blend-mode: hard-light;
}
.dialog__partner-face-mask--2 {
  z-index: 1;
  background: var(--color5);
}
.dialog--variant-1 .dialog__partner-face-mask--1 {
  background: var(--color4);
}
.dialog--variant-2 .dialog__partner-face-mask--1 {
  background: #84796c;
}
.dialog__partner-description {
  line-height: 30px;
  font-size: 20px;
  height: calc(100vh - 315px);
  overflow: auto;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 7px, black 7px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .dialog__partner-description {
    line-height: 25px;
    font-size: 16px;
    -webkit-mask-image: unset;
    height: unset;
    margin-bottom: 80px;
  }
}
.dialog__partner-description:hover {
  mask-position: left top;
}
.dialog__partner-description::-webkit-scrollbar {
  width: 7px;
}
.dialog__partner-description::-webkit-scrollbar-track {
  opacity: 0;
}
.dialog__partner-description::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 4px;
  opacity: 0;
}
.dialog__partner-lines-bg {
  background-image: 
    linear-gradient(0deg, var(--white), var(--white) 60px),
    linear-gradient(0deg, transparent, transparent 29px, var(--black) 0, var(--black) 30px);
  background-size: 100% 60px, 100% 30px;
  background-repeat: no-repeat, repeat-y;
  border-bottom: 1px solid var(--black);
}
@media screen and (max-width: 768px) {
  .dialog__partner-lines-bg {
    background-image: 
    linear-gradient(0deg, var(--white), var(--white) 50px),
    linear-gradient(0deg, transparent, transparent 24px, var(--black) 0, var(--black) 25px);
    background-size: 100% 50px, 100% 25px;
    border-bottom: none;
  }
}
.dialog__partner-description p {
  margin-block-end: 60px;
}
@media screen and (max-width: 768px) {
  .dialog__partner-description p {
    margin-block-end: 50px;
  }
}

.dialog__footer--partner {
  justify-content: flex-start;
  gap: 70px;
}
@media screen and (max-width: 768px) {
  .dialog__footer--partner {
    justify-content: space-between;
  }
}
.dialog__footer-col--partner {
  width: 260px;
}
@media screen and (max-width: 768px) {
  .dialog__footer-col--partner {
    width: auto;
  }
}
.team__mates {
  overflow: hidden;
}
.mate {
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.mate__status {
  position: relative;
  z-index: 2;
}
.mate__status::after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.01 3H0V5H12.01V8L16 4L12.01 0V3Z' fill='%232B2B2B'/%3E%3C/svg%3E%0A");
  width: 16px;
  height: 8px;
  position: absolute;
  top: calc(50% - 4px);
  right: 0;
  transition: all 0.6s var(--easing);
  background-position: 18px 0;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  .mate__status::after {
    background-position: 0 0;
  }
}
.mate__status::before {
  content: '';
  position: absolute;
  width: 20px;
  background: var(--white);
  height: 1px;
  position: absolute;
  bottom: -1px;
  z-index: 2;
  left: -20px;
  transition: all 0.6s var(--easing);
}
.mate:hover .mate__status::after {
  background-position: 0 0;
}
.mate:hover .mate__status::before {
  left: 100%;
  width: 40px;
}
.mate:hover .mate__avatar img {
  transform: scale(1.05);
}
.mate + .mate {
  z-index: 2;
}
