include ../section/section.pug
include ../helpers.pug
.section.mt-52
  +sectionTitle('What we do?', '1.1')
  div(class="section-text md:flex justify-end")
    div(class="section-text__text md:text-xl text-base md:mt-9 mt-7")
      p(class="md:w-80 w-full") We work with entrepreneurs to give them straightforward exists that protect their team and culture and keeps their company operating successfully for the long term. 
      div(class="md:mt-20 mt-14")
        div(class="text-xxs mb-5") SOCIAL NETWORKS: 
        +flipLink('Twitter', 'https://twitter.com/')
        +flipLink('LinkedIn', 'https://www.linkedin.com/')