include ../section/section.pug
include ../poster/poster-footer.pug
div(class="section pain")
  +sectionTitle('Trust us, we know\nhow painful it can be\nto sell your Company', '1.2')
div(class="section")
  div(class="bg-color5 relative p-5 md:p-0 color-block color-block--740 md:mt-10 mt-8 section-text flex flex-col md:flex-row md:justify-between md:items-center ")
    img(src=require("/images/1_page/1.2_img.png") data-scroll data-scroll-id="img-home-1.2" alt="", class="mix-blend-multiply flex-shrink md:mt-0 mt-12 section-text__image section-text__image--1-2")
    div(class="section-text__text md:m-0 mt-10 md:text-xl text-base flex-grow")
      p(class="lg:w-80") You can spend months negotiating and undergoing a painful diligence process only to be left with no deal and lot of time spent not running your business. 
      p(class="lg:w-80 mt-6") If you are lucky enough to get to the finish line, you start to wonder if you’ve left your company and team in the right hands. 
      p(class="lg:w-80 mt-6") We’ve seen many deals fall apart due to issues that shouldn’t have been issues in the first place.
      a(class="btn-link btn-link--more-about-us flex items-center justify-between md:text-xl text-base relative overflow-hidden md:mt-14 md:mb-8 mb-32 mt-12" href="/about.html" data-internal data-page="about")
        span(class="btn-link__left flex items-center")
          span.mt-1 
            include ../icons/portrait.pug
          span(class="ml-4 leading-none") More about us
        span(class="btn-link__right")
          include ../icons/arrow-right.pug
    +posterFooter('We work fast and keep it easy', '1.2')
