include ../section/section.pug
.section.we-buy
  +sectionTitle('We like to buy\nCompanies that have:', '1.5')
  .we-buy__box
    div(class="we-buy__item md:mt-5 mt-7")
      img(src=require('/images/1_page/1.5_img.png') data-scroll data-scroll-id="img-home-1.5")
    div(class="we-buy__lines sm:text-xl text-base mt-4")
      .we-buy__line-block 
        .we-buy__line-block-item
          .font-bold.tracking-tight.flex
            span(class="w-1/4") (A)
            p A growth story
        .we-buy__line-block-item
          p A clear path to growth
      .we-buy__line-block 
        .we-buy__line-block-item
          .font-bold.tracking-tight.flex
            span(class="w-1/4") (B)
            p A unique advantage
        .we-buy__line-block-item
          p Reputation, trade secrets or niche.
      .we-buy__line-block 
        .we-buy__line-block-item
          .font-bold.tracking-tight.flex
            span(class="w-1/4") (C)
            p A simple business model
        .we-buy__line-block-item
          p You can explain the business to your grand parents.
      .we-buy__line-block 
        .we-buy__line-block-item
          .font-bold.tracking-tight.flex
            span(class="w-1/4") (D)
            p Profitable
        .we-buy__line-block-item
          p $1-$3M in net income.
      .we-buy__line-block 
        .we-buy__line-block-item
          .font-bold.tracking-tight.flex
            span(class="w-1/4") (E)
            p Successful operations
        .we-buy__line-block-item
          p Of 5 years or longer.
      .we-buy__line-block 
        .we-buy__line-block-item
          .font-bold.tracking-tight.flex
            span(class="w-1/4") (F)
            p A high-quality team
        .we-buy__line-block-item
          p Great culture and people.
      .we-buy__line-block 
        .we-buy__line-block-item
          .font-bold.tracking-tight.flex
            span(class="w-1/4") (G)
            p A need for digital
        .we-buy__line-block-item
          p Traditional companies that need some tech help.
      