include ../section/section.pug
.section.we-buy
  +sectionTitle('We buy traditional<br>Companies that typically<br>look like this:', '1.6')
  .we-buy__box
    div(class="we-buy__item md:mt-5 mt-7")
      .we-buy__image-wrapper
        img(src=require('/images/1_page/1.6_img.png') data-scroll data-scroll-id="img-home-1.6")
    div(class="we-buy__lines sm:text-xl text-base mt-4")
      .we-buy__line-block 
        .we-buy__line-block-item
          .font-bold.tracking-tight.flex
            span(class="w-1/4") (A)
            p Retiring entrepreneurs
        .we-buy__line-block-item
          p You’ve spent your life building a great company and it’s time to start winding down/ we’ll work with you to give you an easy exit. 
      .we-buy__line-block 
        .we-buy__line-block-item
          .font-bold.tracking-tight.flex
            span(class="w-1/4") (B)
            p Private equity burnout
        .we-buy__line-block-item
          p You’ve been down the private equity route before and couldn’t imagine going down that path again. we’ll show you how we get deals done without a painful diligence process.
      .we-buy__line-block 
        .we-buy__line-block-item
          .font-bold.tracking-tight.flex
            span(class="w-1/4") (C)
            p 
              | Don’t meet professional
              br
              | investor kpi’s
        .we-buy__line-block-item
          p You’ve got a great company but haven’t spent time to be ‘due diligence ready’ or don’t meet the ‘standard’ criteria investors are looking for. 
