.dialog#success-dialog
  .dialog__overlay
  .dialog__body
    .dialog__header
      .dialog__done
        include ../icons/done.pug
      .dialog__close
        include ../icons/close.pug
    .dialog__content
      .dialog__alert Success!
      .dialog__message We have received your message and would like to thank you for writing to us
    .dialog__footer
      .dialog__footer-col ODIN'S CROW LTD.
      .dialog__footer-col We work fast and keep it easy