include ../section/section.pug
.section.we-buy.how-we-approach
  .how-we-approach__box
    +sectionTitle('Here is how\nwe approach a deal:', '2.3')
    .we-buy__box
      div(class="we-buy__item md:mt-5 mt-7")
        img(src=require('/images/2_page/2.3_img.png'))
      div(class="we-buy__lines sm:text-xl text-base mt-4")
        .we-buy__line-block 
          .we-buy__line-block-item
            .font-bold.tracking-tight.flex
              span(class="w-1/4") (A)
              p Opening dinner
          .we-buy__line-block-item
            p If we have an interest in your company, we’d like to take you out for dinner. This can happen before or after we make an offer – you decide. If we don’t see a good personal fit, no hard feelings but at least we haven’t wasted months of time and effort trying to figure that out. 
        .we-buy__line-block 
          .we-buy__line-block-item
            .font-bold.tracking-tight.flex
              span(class="w-1/4") (B)
              p Opportunities and risks
          .we-buy__line-block-item
            p Our diligence focuses on the opportunities and risks in the company. How do we grow the Company and what are the major hurdles to making it happen. 
        .we-buy__line-block 
          .we-buy__line-block-item
            .font-bold.tracking-tight.flex
              span(class="w-1/4") (C)
              p Financial
          .we-buy__line-block-item
            p Instead of spending months going through financials with a fine tooth comb, we’ll look at bank statements and some other sample transactions to ensure the company is roughly doing the stated profit and revenues.
        .we-buy__line-block 
          .we-buy__line-block-item
            .font-bold.tracking-tight.flex
              span(class="w-1/4") (C)
              p Legal
          .we-buy__line-block-item
            p We make sure there are no skeletons in the closet and will walk you through what we expect the legal ‘paperwork’ to look like so that you are ready for it. We’ll keep our legal team in check to keep the deal moving forward. 
      