include ../section/section.pug
.section.our-experience
  +sectionTitle('Our experience', '2.1')
  div(class="section-text md:flex justify-end")
    div(class="section-text__text md:text-xl text-base md:mt-9 mt-7")
      p(class="lg:w-80 w-full") Collectively, we’ve been part of hundreds of Company sale processes and have seen many fall apart in the 11th hour. Even the ‘successful’ ones rarely end in excitement, simply because the process is a miserable experience
