include ../section/section.pug
include ../poster/poster-footer.pug
div(class="section our-approach")
  +sectionTitle('Our approach', '2.2')
div(class="section")
  div(class="bg-color6 relative p-5 md:p-0 color-block color-block--740 md:mt-10 mt-8 section-text flex flex-col md:flex-row md:justify-between md:items-center ")
    img(src=require("/images/2_page/2.2_img.png"), alt="", class="mix-blend-multiply flex-shrink md:mt-0 mt-12 section-text__image section-text__image--1-2")
    div(class="section-text__text md:m-0 mt-10 md:text-xl text-base flex-grow")
      p(class="lg:w-80") We spoke to many of our former client's and asked them what they enjoyed the lease about selling their Company and what they thought most contributed to deal success. Their feedback served as the framework for how we operate. We think our approach is different and we’d like to show you how. 
      p(class="lg:w-80 mt-6 md:mb-8 mb-32") We set out to become owners of companies using a simple, collaborative, and transparent approach. 
    +posterFooter('We work fast and keep it easy', '2.2')