.dialog#partner-dialog
  .dialog__overlay
  .dialog__body.dialog__body--partner
    .dialog__header
      .dialog__done
        include ../icons/portrait.pug
        .dialog__icon-label Partner
      .dialog__close
        include ../icons/close.pug
    .dialog__content
      .dialog__partner-name Cory Swanson
      .dialog__partner-box 
        .dialog__partner-face
          .dialog__partner-face-mask.dialog__partner-face-mask--noise
          .dialog__partner-face-mask.dialog__partner-face-mask--1
          .dialog__partner-face-mask.dialog__partner-face-mask--2
          img(src="https://i0.wp.com/odins-crow.com/wp-content/uploads/2022/10/mate-1.9c41fdad8df8f460d84ea62fa16ec5b0.png?fit=453%2C480&ssl=1", alt="")
        .dialog__partner-description
          .dialog__partner-lines-bg
            p Tony Sottile is a Professional Engineer with experience in the mechanical contracting industry since 1984.
            p Has Inflector past Sr. Vice President Strategic Initiatives, he primarily worked with the executive team to plan and execute growth strategies, while also assisting in the planning and implementation of internal processes that propel Inflector toward successful project completion.
            p Prior to his role at Inflector, Mr. Sottile worked with Modern Mechanical, the founding organization of Modern Niagara Group, of which he became a partner in 1993. He advanced to CEO from 2004 to 2016, guiding a substantial period of growth for the company. Outside of this executive experience, he has worked in various commercial and institutional construction sectors such as health care, data centres, commercial buildings, education and laboratories.
            p Mr. Sottile has served as the Chairman of the Ottawa Construction Association (OCA), as well as the Chairman of the Mechanical Contractors Association (MCA) of Ottawa and the Canadian Mechanical Contractors Education Foundation (CMCEF). He is on the Board of Governors of The Ottawa Hospital and sits on various private sector boards.
    .dialog__footer.dialog__footer--partner
      .dialog__footer-col.dialog__footer-col--partner ODIN'S CROW LTD.
      .dialog__footer-col We work fast and keep it easy