.header {
  padding: 0 20px;
  height: 70px;
  background-color: var(--white);
  z-index: 6;
  transition: background-color .4s var(--easing);
  @media (min-width: 768px) {
    height: 64px;
    transition: transform .4s var(--easing);
  }
  &__inner {
    position: relative;
    z-index: 2;
  }
  &__links {
    width: 33.33%;
    justify-content: space-between;
    display: none;
    @media (min-width: 1024px) {
      display: flex;
    }
  }
  &.active { /* means burger menu is open */
    background-color: var(--color5);
  }
  &__logo-link {
    font-size: 22px;
    @media (min-width: 768px) {
      font-size: 27px;
    }
  }
  &.js-hidden {
    @media (min-width: 768px) {
      /* transform: translateY(-100%); */
    }
  }
  &__burger {
    opacity: 0;
    @media (min-width: 1024px) {
      display: none;
    }
    position: relative;
    z-index: 1;
    width: 24px;
    height: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
      position: relative;
      flex: none;
      width: 100%;
      height: 3px;
      background: var(--black);
      transition: all .4s var(--easing);
      display: flex;
      align-items: center;
      justify-content: center;
      &::before,
      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: -8px;
        left: 0;
        width: 100%;
        height: 3px;
        background: inherit;
        transition: all .4s var(--easing);
      }
      &::after {
        top: 8px;
      }
    }
    .active & {
      > div {
        transform: rotate(135deg);
        &::before,
        &::after {
          top: 0;
          transform: rotate(90deg);
        }
        &::after {
          opacity: 0;
        }
      }
    }
  }
  &__pages,
  &__contacts-link  {
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s var(--easing);
  }
  .ready & {
    &__burger,
    &__pages,
    &__contacts-link {
      opacity: 1;
      pointer-events: all;
      transition: opacity .4s .4s var(--easing);
    }
  }
  .navigation-in-progress & {
    &__burger,
    &__pages,
    &__contacts-link {
      opacity: .66;
      pointer-events: none;
    }
  }
  body[data-page="404"] & {
    background-color: var(--color7);
  }
}
