.section
  .color-block.get-in-touch
    .get-in-touch__tag
      span.mr-2
        include ../icons/forum.pug
      span Get in touch
    .get-in-touch__container
      .get-in-touch__title
        span If you’re not sure whether your company fits our focus, send it our way and we’ll let you know within 24 hours
      .get-in-touch__btns
        a(class="get-in-touch__btn btn-link btn-link--inverse flex items-center justify-between md:text-xl text-base relative overflow-hidden" href="#")
          span(class="btn-link__left flex items-center")
            span.mt-1 
              include ../icons/envelope.pug
            span(class="ml-4 leading-none") Email us
          span(class="btn-link__right")
            include ../icons/arrow-right.pug
        a(class="get-in-touch__btn btn-link btn-link--inverse flex items-center justify-between md:text-xl text-base relative overflow-hidden" href="#")
          span(class="btn-link__left flex items-center")
            span.mt-1 
              include ../icons/phone.pug
            span(class="ml-4 leading-none") Call us
          span(class="btn-link__right")
            include ../icons/arrow-right.pug