.intro {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 90px;
  padding-bottom: 20px;
  min-height: 75vh;
  @media (min-width: 640px) {
    padding-bottom: 25px;
    height: 70vh;
  }
  @media (min-width: 1024px) {
    height: max(80vh, 600px);
  }
  &--no-fixed-height {
    height: auto;
  }
  &__container {}
  &__title {
    font-weight: 700;
    font-size: 46px;
    padding-top: 70px;
    line-height: 1;
    white-space: nowrap;
    @media (min-width: 768px) {
      padding-top: 0;
      font-size: 88px;
    }
    @media (min-width: 1024px) {
      font-size: 137px;
    }
    @media (min-width: 1280px) {
      font-size: 160px;
    }
    @media (min-width: 1420px) {
      font-size: 187px;
    }
    @media (max-width: 1023px) {
      padding-bottom: 10px;
    }
    .split-text__char-container {
      margin-right: -0.05em;
    }
    &--static {
      letter-spacing: -0.05em;
    }
  }
  &__description {
    color: var(--white);
    font-size: 20px;
    background-color: var(--black);
    margin-top: 10px;
    padding: 13px 20px 17px;
    @media (min-width: 1024px) {
      font-size: 36px;
      padding: 18px 20px;
    }
    svg {
      cursor: pointer;
    }
  }
  &--top {
    .intro__description {
      position: relative;
      z-index: 2;
      transform: scaleY(0);
      transform-origin: 50% 0;
    }
  }
  &--404 {
    height: 100vh;
    .intro__title {
      letter-spacing: -0.05em;
    }
  }
}

.intro-wrapper {
  position: relative;
  z-index: 1;
}
