.benefits {
  margin-bottom: 80px;
  flex-wrap: wrap;
  @media (min-width: 640px) {
    justify-content: space-around;
  }
}
.benefit {
  width: 100%;
  margin-top: 50px;
  &:first-child {
    margin-top: 30px;
    @media (min-width: 640px) {
      margin-top: 40px;
    }
  }
  @media (min-width: 640px) {
    margin-top: 40px;
    width: calc(50% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
  @media (min-width: 1024px) {
    width: calc(33.33% - 20px);
  }
  &__advantages {
    @media (min-width: 768px) {
      background-image:
        linear-gradient(
          0deg,
          transparent 0,
          transparent 39px,
          var(--black) 39px,
          var(--black) 40px
        );
      background-size: 100% 40px;
    }
    background-image:
      linear-gradient(
        0deg,
        transparent 0,
        transparent 31px,
        var(--black) 31px,
        var(--black) 32px
      );
    background-size: 100% 32px;
    background-repeat: repeat-y;
  }
  &__advantage {
    line-height: 32px;
    /* stylelint-disable-next-line selector-class-pattern */
    &.md\:text-xl {
      @media (min-width: 768px) {
        line-height: 40px;
      }
    }
  }
}