.section {
  padding-left: 20px;
  padding-right: 20px;
}
.bg-color1 {
  background-color: var(--color1);
}
.bg-color2 {
  background-color: var(--color2);
}
.bg-color3 {
  background-color: var(--color3);
}
.bg-color4 {
  background-color: var(--color4);
}
.bg-color5 {
  background-color: var(--color5);
}
.bg-color6 {
  background-color: var(--color6);
}
.bg-color7 {
  background-color: var(--color7);
}
.bg-color8 {
  background-color: var(--color8);
}
.color-white {
  color: var(--white);
}
.bb-1-black {
  border-bottom: 1px solid rgba(var(--black-rgb) / 80%);
}
.bt-1-black {
  border-top: 1px solid rgba(var(--black-rgb) / 80%);
}
.text-xxs {
  font-size: 10px;
}
.flip-link {
  height: 30px;
  + .flip-link {
    margin-top: -1px;
  }
  &__text {
    display: inline-block;
    @media (min-width: 768px) {
      transition: transform .5s var(--easing);
    }
    &--hover {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(125%);
    }
  }
  &:hover {
    .flip-link__text {
      &--hover {
        transform: translateY(0);
      }
      &--default {
        transform: translateY(-125%);
      }
    }
  }
}
.color-block {
  @media (min-width: 768px) {
    min-height: min(100vh, 690px);
  }
  &--740 {
    @media (min-width: 768px) {
      min-height: min(100vh, 740px);
    }
  }
}
.btn-link {
  height: 70px;
  max-width: 315px;
  transition: color .3s var(--easing);
  color: var(--white);
  @media (min-width: 768px) {
    color: inherit;
  }
  &:hover,
  &--hovered {
    color: var(--white);
  }
  &--lg {
    height: 70px;
    @media (min-width: 768px) {
      height: 80px;
    }
  }
  &--more-about-us {
    @media (max-width: 500px) {
      max-width: 100%;
    }
  }
  &::after {
    z-index: 1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--black);
    @media (min-width: 768px) {
      transition: transform .3s var(--easing);
      transform: translate(0, calc(100% - 1px));
    }
  }
  &--inverse {
    color: var(--black);
    @media (min-width: 768px) {
      color: inherit;
    }
    &:hover {
      color: var(--black);
    }
    &::after {
      background-color: var(--white);
    }
  }
  &:hover::after,
  &--hovered::after {
    transform: translate(0, 0);
  }
  &__left,
  &__right {
    position: relative;
    z-index: 2;
    @media (min-width: 768px) {
      transition: transform .3s var(--easing);
    }
  }
  &__left {
    transform: translate(25px, 0);
    @media (min-width: 768px) {
      transform: none;
    }
    .btn-link:hover &,
    .btn-link--hovered & {
      transform: translate(25px, 0);
    }
  }
  &__right {
    transform: translate(-25px, 0);
    @media (min-width: 768px) {
      transform: none;
    }
    .btn-link:hover &,
    .btn-link--hovered & {
      transform: translate(-25px, 0);
    }
    &--arrows {
      display: flex;
      overflow: hidden;
      width: 30px;
      span {
        width: 30px;
        min-width: 30px;
        display: flex;
        justify-content: flex-end;
        transform: translate(-100%, 0);
        transition: transform .5s var(--easing);
      }
      .btn-link:hover & {
        span {
          transform: none;
        }
      }
    }
  }
}