/* stylelint-disable selector-class-pattern */
$oneLineHeight: 5.7vh;
.lines {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: column;
  z-index: 5;
  overflow: hidden;
  &--reverse {
    flex-direction: column-reverse;
    .lines__line {
      margin-top: 0;
    }
  }
  &__line {
    width: 100%;
    background-color: var(--black);
    transform-origin: 0 50%;
    &--1 {
      margin-top: 0;
      height: 1px;
    }
    &--2 {
      margin-top: 18px;
      height: 2px;
      .lines--reverse & {
        margin-bottom: 18px;
      }
    }
    &--3 {
      margin-top: 16px;
      height: 4px;
      .lines--reverse & {
        margin-bottom: 16px;
      }
    }
    &--4 {
      margin-top: 14px;
      height: 6px;
      .lines--reverse & {
        margin-bottom: 14px;
      }
    }
    &--5 {
      margin-top: 12px;
      height: 8px;
      .lines--reverse & {
        margin-bottom: 12px;
      }
    }
    &--6 {
      margin-top: 10px;
      height: 10px;
      .lines--reverse & {
        margin-bottom: 10px;
      }
    }
    &--7 {
      margin-top: 8px;
      height: 12px;
      .lines--reverse & {
        margin-bottom: 8px;
      }
    }
  }
}
.intro--top {
  .lines {
    z-index: 1;
    overflow: visible;
    visibility: hidden;
    @media (max-width: 639px) {
      margin-top: 26px;
    }
    &__line {
      flex-shrink: 0;
      &:not(.lines__line--1) {
        transform: scaleX(0);
        margin-top: $oneLineHeight;
      }
    }
  }
  .ready &,
  .preloading & {
    .lines {
      visibility: visible;
    }
  }
}
.counters {
  pointer-events: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  &__inner {
    padding-top: calc($oneLineHeight + 3px);
    width: 100%;
  }
  &__line {
    font-size: calc($oneLineHeight - 5px);
    line-height: 1;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    align-items: center;
    @for $x from 1 through 8 {
      &--#{$x} {
        height: calc($oneLineHeight + $x * 2px + 2px);
      }
    }
  }
  &__counter-box {
    @apply md:w-1/2;
    @apply lg:w-1/3;
    margin-right: 8px;
    padding-bottom: 10px;
  }
  &__counter {
    .split-text__char-container {
      margin-right: -0.05em;
    }
  }
  &__loading {
    margin-right: auto;
    letter-spacing: -0.05em;
    line-height: 1.5;
    margin-top: -0.25em;
  }
}