$phone-width: 768px;
$tablet-landscape-width: 1024px;
$tablet-portrait-width: 768px;
$desktop-width: 1366px;
$easing: cubic-bezier(.4, 0, 0, 1);

/* width >= 1366 */
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

/* 1024 < width < 1366 */
@mixin laptop-only {
  @media (min-width: #{$tablet-landscape-width + 1px}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

/* < 1366 */
@mixin laptop {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

/* width > 1024 */
@mixin wider-than-tablet {
  @media (min-width: #{$tablet-landscape-width + 1px}) {
    @content;
  }
}
@mixin tighter-than-tablet {
  @media (max-width: #{$tablet-landscape-width}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: $tablet-landscape-width) {
    @content;
  }
}
@mixin tablet-only {
  @media (min-width: $tablet-portrait-width) and (max-width: $tablet-landscape-width) {
    @content;
  }
}
@mixin wider-than-phone {
  @media (min-width: #{$phone-width + 1px}) {
    @content;
  }
}
@mixin phone {
  @media (max-width: $phone-width) {
    @content;
  }
}

@mixin clearfix {
  &::after {
    display: table;
    content: "";
    clear: both;
  }
}
