.privacy-policy {
  h2 {
    letter-spacing: -0.05em;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    @media (min-width: 1024px) {
      font-size: 36px;
      line-height: 39px;
    }
    &:not(:first-child) {
      margin-top: 40px;
      @media (min-width: 1024px) {
        margin-top: 120px;
      }
    }
  }
  dl {
    margin-top: 20px;
    font-size: 20px;
    @media (min-width: 1024px) {
      display: flex;
      margin-top: 60px;
    }
  }
  dt {
    max-width: 453px;
    letter-spacing: -0.03em;
    font-weight: 700;
    @media (min-width: 1024px) {
      width: 50%;
      line-height: 30px;
    }
  }
  dd {
    letter-spacing: -0.01em;
    margin-top: 20px;
    @media (min-width: 1024px) {
      width: 50%;
      margin-top: 0;
      margin-left: auto;
      padding-right: 50px;
      line-height: 26px;
    }
  }
  p {
    margin-bottom: 2em;
  }
}