.split-text {
  &__char-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  &__visible {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
  }
  &__invisible {
    opacity: 0;
  }
}
.intro__title:not(.intro__title--static),
.counters__loading,
.preloader-text,
.intro-description-split-text {
  &:not(.split-text) {
    opacity: 0;
  }
}
