.structures-target {
  @media (min-width: 1024px) {
    height: 500vh;
  }
}
.structures-trigger {
  display: none;
  @media (min-width: 1024px) {
    padding-bottom: 160px;
    display: block;
  }
}
.structures-block {
  width: calc(33.33% - 20px);
  min-width: calc(33.33% - 20px);
  transform: translateY(calc(-100% - 57px));
  height: 93px;
  opacity: 0;
}
.structures {
  &__main {
    overflow: hidden;
    min-height: calc(100vh - 152px);
    margin-top: -130px;
  }
  &__text {
    width: 459px;
    position: relative;
    @media (min-width: 1024px) {
      width: 33.33%;
      padding-right: 20px;
    }
    @media (min-width: 1441px) {
      position: absolute;
      left: calc(66% + 10px)
    }
  }
  &__text-block {
    font-size: 34px;
    @apply font-bold;
    @apply tracking-tighter;
    position: absolute;
    width: 382px;
    top: 50%;
    left: 0;
    transform: translateY(-20%);
    opacity: 0;
    transition:
      transform .6s var(--easing),
      opacity .3s var(--easing);
    &.show {
      transform: translateY(calc(-50% - 20px));
      opacity: 1;
    }
    @media (max-width: 1150px) {
      font-size: 40px;
      line-height: 40px;
    }
    @media (min-width: 1150px) {
      font-size: 60px;
      line-height: 60px;
    }
  }
  &__video {
    position: absolute;
    width: 65.66%;
    left: 9%;
    top: 50%;
    transform: translate(0, -50%);
    height: calc(100% - 20px);
  }
  &__numbers {
    overflow: hidden;
    @media (min-width: 768px) {
      height: 1em;
      font-size: 187px;
      top: -13px;
    }
  }
  &__numbers-box {
    transition: transform .6s var(--easing);
    @media (min-width: 768px) {
      height: 3em;
      margin-top: -23px;
    }
  }
}
.structures-mobile-video {
  mix-blend-mode: multiply;
  position: absolute;
  top: 13%;
  left: 17%;
  width: 100%;
  transform: scale(1.2);
}