.structures-target {
  @media (min-width: 1024px) {
    height: 500vh;
    display: block;
  }
}
.structures-trigger {
  display: none;
  @media (min-width: 1024px) {
    padding-bottom: 160px;
    display: block;
  }
}
.structures-block {
  width: calc(33.33% - 20px);
  min-width: calc(33.33% - 20px);
  transform: translateY(calc(-100% - 57px));
  height: 93px;
  opacity: 0;
}
.structures {
  &__main {
    overflow: hidden;
    min-height: calc(100vh - 167px);
    margin-top: -135px;
  }
  &__text {
    width: 459px;
    position: relative;
  }
  &__text-block {
    font-size: 34px;
    @apply font-bold;
    @apply md:text-6xl;
    @apply tracking-tighter;
    position: absolute;
    width: 382px;
    top: 50%;
    left: 0;
    transform: translateY(-20%);
    opacity: 0;
    transition:
      transform .6s var(--easing),
      opacity .3s var(--easing);
    &.show {
      transform: translateY(calc(-50% - 20px));
      opacity: 1;
    }
  }
  &__video {
    position: absolute;
    width: 65.66%;
    left: 9%;
    top: 50%;
    transform: translate(0, -50%);
    height: 100%;
  }
  &__numbers {
    overflow: hidden;
    @media (min-width: 768px) {
      height: 1em;
      font-size: 187px;
      top: -13px;
    }
  }
  &__numbers-box {
    transition: transform .6s var(--easing);
    @media (min-width: 768px) {
      height: 3em;
    }
  }
}
.structures-mobile-video {
  mix-blend-mode: multiply;
  position: absolute;
  top: 13%;
  left: 17%;
  width: 100%;
  transform: scale(1.2);
}