@import "~sanitize.css";
@import "locomotive-scroll.scss";
@import "mixins.scss";
@import "main.scss";
@import "../parts/header/header.scss";
@import "link-hover-underline.scss";
@import "link-underlined.scss";
@import "../parts/intro/intro.scss";
@import "../parts/poster/poster.scss";
@import "gentle-underline.scss";
@import "helpers.scss";
@import "../parts/section/section.scss";
@import "time.scss";
@import "structures.scss";
@import "what-we-do.scss";
@import "pain.scss";
@import "benefits.scss";
@import "we-buy.scss";
@import "away.scss";
@import "get-in-touch.scss";
@import "lines.scss";
@import "introduce.scss";
@import "footer.scss";
@import "contact-btn.scss";
@import "our-experience.scss";
@import "our-approach.scss";
@import "how-we-approach.scss";
@import "team.scss";
@import "join.scss";
@import "how-it-works.scss";
@import "mobile-menu.scss";
@import "split-text.scss";
@import "../parts/preloader/preloader.scss";
@import "dialog.scss";
/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;