.we-buy {
  overflow: hidden;
  margin-top: 80px;
  @media (min-width: 1024px) {
    margin-top: 160px;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: 100%;
    @media (min-width: 1024px) {
      width: 33.333%;
    }
    img {
      width: 100%;
      @media (min-width: 640px) {
        width: 200px;
      }
    }
  }
  &__image-wrapper {
    width: 100%;
    overflow: hidden;
    @media (min-width: 640px) {
      width: 200px;
    }
  }
  &__lines {
    width: 100%;
    @media (min-width: 1024px) {
      width: 66.666%;
    }
    background-position: 0 -1px;
    background-image:
      linear-gradient(
        0deg,
        transparent 0,
        transparent 24px,
        var(--black) 24px,
        var(--black) 25px
      );
    background-size: 100% 25px;
    background-repeat: repeat-y;
    @media (min-width: 640px) {
      background-image:
        linear-gradient(
          0deg,
          transparent 0,
          transparent 29px,
          var(--black) 29px,
          var(--black) 30px
        );
      background-size: 100% 30px;
      background-repeat: repeat-y;
    }
  }
  &__line-block {
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 640px) {
      flex-wrap: nowrap;
    }
  }
  &__line-block-item {
    &:last-child {
      margin-bottom: 25px;
      margin-left: 25%;
      @media (min-width: 640px) {
        margin-bottom: 60px;
        margin-left: 0;
      }
    }
    width: 100%;
    line-height: 25px;
    @media (min-width: 640px) {
      width: 50%;
      line-height: 30px;
    }
    p {
      max-width: 75%;
      @media (min-width: 640px) {
        line-height: unset;
      }
      @media (min-width: 1024px) {
        max-width: 316px;
      }
    }
  }
}