.preloader
  .preloader__inner
    .lines
      .uppercase.flex.justify-between.items-center.mt-auto.top-0.left-0.absolute.text-xxs.w-full.h-5
        span.preloader__text ODIN'S CROW LTD.
        span(class="flex ml-auto justify-between md:w-1/2 lg:w-1/3 whitespace-nowrap")
          span(class="hidden md:block preloader__text") SIMPLE DEALS FOR GREAT COMPANIES & OWNERS
          span(class="ml-auto preloader__text") ©2022
      each val in [1, 2, 3, 4, 5, 6, 7]
        -var line = 'lines__line lines__line--' + val
        div(class=line)
      .counters
        .counters__inner
          each val in [1, 2, 3, 4, 5, 6]
            -var line = "counters__line counters__line--" + val
            div(class=line) 
              if val == 6
                .counters__loading Loading ...
              .counters__counter-box
                div.counters__counter 1.#{val}