include ../section/section.pug
.section.we-buy.faq
  +sectionTitle('Frequently\nasked questions', '3.3')
  .we-buy__box
    div(class="we-buy__item md:mt-5 mt-7")
      img(src=require("/images/3.3.png") data-scroll data-scroll-id="img-referral-partners-3.3")
    div(class="we-buy__lines sm:text-xl text-base mt-4")
      .we-buy__line-block 
        .we-buy__line-block-item
          .font-bold.tracking-tight.flex
            span(class="w-1/4") (A)
            p.pr-2 What is Odin's Crow general valuation approach?
        .we-buy__line-block-item
          p Very much dependent on the company size, metrics and market. We do focus on profitability and cash flow, so a multiple on Net Profit (after tax) is our typical start line. 
      .we-buy__line-block 
        .we-buy__line-block-item
          .font-bold.tracking-tight.flex
            span(class="w-1/4") (B)
            p.pr-2 Are there any geographic restrictions on where companies are located?
        .we-buy__line-block-item
          p No, there is not. North America is definitely where we have the most experience, but we have also done deals outside of North America. We are open to learning more about a business regardless of where it is domiciled, but keep in mind that businesses outside of North America need to be very compelling for us to move forward.
      .we-buy__line-block 
        .we-buy__line-block-item
          .font-bold.tracking-tight.flex
            span(class="w-1/4") (C)
            p.pr-2 Do you expect referral partners to do their own outbound prospecting?
        .we-buy__line-block-item
          p Our referral partners typically prospect within their own networks. If you do want to do outbound please make sure that you have first sent us the company name and a brief description and we will let you know if we have previously connected with them to date. Please make it clear in your outbound that you are a Tiny Scout, and not an employee.
      .we-buy__line-block 
        .we-buy__line-block-item
          .font-bold.tracking-tight.flex
            span(class="w-1/4") (D)
            p.pr-2 Do you invest in startups?
        .we-buy__line-block-item
          p Investing in startups is not our main focus. Our sweet spot for investing is profitable businesses with a compelling product market fit and historic growth. If you know of a company that is outside of this, BUT you really think we should consider please reach out as we do occasionally make minority investments.
      .we-buy__line-block 
        .we-buy__line-block-item
          .font-bold.tracking-tight.flex
            span(class="w-1/4") (E)
            p.pr-2 What is the workflow for understanding what companies Tiny has "not spoken to before?"
        .we-buy__line-block-item
          p Please email us the name of the company, and whatever information you have, in advance of reaching out. We will confirm that we have not spoken to them yet, or let you know if we have. Want to make sure we are not reaching out to the same gems over and over!
      .we-buy__line-block 
        .we-buy__line-block-item
          .font-bold.tracking-tight.flex
            span(class="w-1/4") (F)
            p.pr-2 How is "Upfront Invested Capital" defined?
        .we-buy__line-block-item
          p Upfront Invested Capital is defined as cash paid to the seller at close. Earn outs, equity etc. are not included in the calculation.