.section
  .poster.color-block.p-5.poster--color4.relative.flex.flex-col.items-center.justify-center
    div(class="poster__number absolute top-2 left-4 xs:-top-5 md:left-8 font-bold leading-none") 3
    video(
      src=require("/images/3_Page/3_video_bg_Small.mp4")
      autoplay
      muted
      playsinline
      loop
      class="poster__video absolute right-4 md:right-0 top-12 sm:top-0 mix-blend-multiply z-0 pointer-events-none")
    div(class="poster__title tracking-tighter text-center font-bold tracking-tighter leading-none relative z-1 mb-auto md:mb-0 md:block hidden")
      span.gentle-underline Do you know a great Company
      br
      span.gentle-underline that we should talk to?
      br
      span.gentle-underline Introduce us and you could
      br
      span.gentle-underline find yourself in a brand new
      br
      span.gentle-underline Tesla Model 3.
    div(class="poster__title poster__title--about tracking-tighter text-center font-bold tracking-tighter leading-none relative z-1 mb-16 md:hidden block")
      span.gentle-underline Do you know a
      br
      span.gentle-underline great Company
      br
      span.gentle-underline that we should
      br
      span.gentle-underline talk to? Introduce
      br
      span.gentle-underline us and you could
      br
      span.gentle-underline find yourself in a
      br
      span.gentle-underline brand new
      br
      span.gentle-underline Tesla Model 3.
    include poster-footer.pug
    +posterFooter('SIMPLE DEALS FOR GREAT COMPANIES & OWNERS', 'Intro')
