mixin posterFooter(phrase, appendix)
  .poster-footer.uppercase.flex.justify-between.mt-auto.bottom-5.left-5.absolute.text-xxs
      span ODIN'S CROW LTD.
      span(class="hidden md:block mr-44 ml-auto") #{phrase}
      span #{appendix}
