.section 
  .poster.poster--color3
    div(class="poster__number absolute top-2 left-4 xs:-top-5 md:left-8 font-bold leading-none") 2
    video(
      src=require("/images/2_page/2_video_bg_Small.mp4")
      autoplay
      muted
      loop
      class="poster__video absolute right-10 md:right-0 top-0 mix-blend-multiply z-0 pointer-events-none")
    div(class="poster__title tracking-tighter text-center font-bold tracking-tighter leading-none relative z-1 mb-auto md:mb-0 md:block hidden")
      span.gentle-underline A team of former bankers,
      br
      span.gentle-underline lawyers and, M&A advisors
      br
      span.gentle-underline supported by a few of the best
      br
      span.gentle-underline CEO’s on the planet
    div(class="poster__title poster__title--about tracking-tighter text-center font-bold tracking-tighter leading-none relative z-1 mb-16 md:hidden block")
      span.gentle-underline A team of former
      br
      span.gentle-underline bankers, lawyers
      br
      span.gentle-underline and, M&A advisors
      br
      span.gentle-underline supported by a few
      br
      span.gentle-underline of the best CEO’s
      br
      span.gentle-underline on the planet
    include poster-footer.pug
    +posterFooter('SIMPLE DEALS FOR GREAT COMPANIES & OWNERS', 'Intro')
