.poster {
  overflow: hidden;
  padding: 20px;
  background-color: var(--color7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 70px);
  &__number {
    font-size: 46px;
    @media (min-width: 1024px) {
      font-size: 187px;
    }
  }
  &__title {
    margin-top: min(50vh, 340px);
    font-size: 34px;
    @media (min-width: 768px) {
      margin-top: unset;
      font-size: 60px;
    }
    .gentle-underline {
      @media (max-width: 1024px) {
        white-space: normal;
      }
    }
  }
  &--color7 {
    background-color: var(--color7);
  }
  &--color3 {
    background-color: var(--color3);
  }
  &--color4 {
    background-color: var(--color4);
  }
}
.poster-footer {
  height: 20px;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  width: calc(100% - 40px);
}
