.section.mt-6
  .poster.p-5.poster--color3.relative.flex.flex-col.items-center.justify-center
    div(class="poster__number absolute top-2 left-4 xs:-top-5 md:left-3 font-bold leading-none") 2
    video(
      src=require("../../images/2_page/2_video_bg.mp4")
      autoplay
      muted
      loop
      class="poster__video absolute right-10 md:right-0 top-0 mix-blend-multiply z-0 pointer-events-none")
    div(class="poster__title tracking-tighter text-center font-bold tracking-tighter leading-none relative z-1 mb-auto md:mb-0 md:block hidden")
      span.gentle-underline A team of former bankers,
      br
      span.gentle-underline lawyers and, m&a advisors
      br
      span.gentle-underline supported by a few of the best
      br
      span.gentle-underline CEO’s on the planet
    div(class="poster__title poster__title--about tracking-tighter text-center font-bold tracking-tighter leading-none relative z-1 mb-16 md:hidden block")
      span.gentle-underline A team of former
      br
      span.gentle-underline bankers, lawyers
      br
      span.gentle-underline and, m&a advisors
      br
      span.gentle-underline supported by a few
      br
      span.gentle-underline of the best CEO’s
      br
      span.gentle-underline on the planet
    .poster__footer.uppercase.flex.justify-between.mt-auto.bottom-5.left-5.absolute
      span ODIN'S CROW LTD.
      span(class="hidden md:block mr-44 ml-auto") SIMPLE DEALS FOR GREAT COMPANIES & OWNERS
      span Intro
