doctype html
html(lang="en")
  include parts/head/head.pug
  +head('About')
  body
    include parts/header/header.pug
    include parts/intro/intro.pug
    +intro('About us', 'We\'ve seen deals from every perspective')
    include parts/poster/poster-about.pug
    include parts/footer/footer.pug
