doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    title Odin's crow
  body
    include parts/header/header.pug
    include parts/footer/footer.pug
