doctype html
html(lang="en")
  include parts/head/head.pug
  +head('Odin’s Crow')
  body
    include parts/header/header.pug
    include parts/intro/intro.pug
    +intro('Odin’s Crow', 'We work fast and keep it easy')
    include parts/poster/poster-home.pug
    include parts/footer/footer.pug
