doctype html
html(lang="en")
  include parts/head/head.pug
  +head('Odin’s Crow | Privacy policy')
  body(data-page="privacy-policy")
    include parts/header/header.pug
    div(id="js-scroll" data-scroll-container class="main-container")
      div(data-scroll-section class="intro-wrapper")
        .intro.section
          .intro__container
            .intro__title.intro__title--static Privacy policy
            .bb-1-black.mt-14
      div(data-scroll-section)
        .section.privacy-policy
          h2 1. An overview of data protection
          dl
            dt General
            dd The following gives a simple overview of what happens to your personal information when you visit our website. Personal information is any data with which you could be personally identified. Detailed information on the subject of data protection can be found in our privacy policy found below.
          dl 
            dt Who is responsible for the data collection on this website?
            dd The data collected on this website are processed by the website operator. The operator’s contact details can be found in the website’s required legal notice.
          dl
            dt How do we collect your data? 
            dd 
              p Some data are collected when you provide it to us. This could, for example, be data you enter on a contact form.
              p Other data are collected automatically by our IT systems when you visit the website. These data are primarily technical data such as the browser and operating system you are using or when you accessed the page. These data are collected automatically as soon as you enter our website.
          dl 
            dt What do we use your data for? 
            dd Part of the data is collected to ensure the proper functioning of the website. Other data can be used to analyze how visitors use the site.
          dl 
            dt What rights do you have regarding your data?
            dd You always have the right to request information about your stored data, its origin, its recipients, and the purpose of its collection at no charge. You also have the right to request that it be corrected, blocked, or deleted. You can contact us at any time using the address given in the legal notice if you have further questions about the issue of privacy and data protection. You may also, of course, file a complaint with the competent regulatory authorities.
          dl
            dt Analytics and third-party tools
            dd 
              p When visiting our website, statistical analyses may be made of your surfing behavior. This happens primarily using cookies and analytics. The analysis of your surfing behavior is usually anonymous, i.e. we will not be able to identify you from this data. You can object to this analysis or prevent it by not using certain tools. Detailed information can be found in the following privacy policy.
              p You can object to this analysis. We will inform you below about how to exercise your options in this regard.
          dl
            dt 2. General information and mandatory information
            dd
              p When visiting our website, statistical analyses may be made of your surfing behavior. This happens primarily using cookies and analytics. The analysis of your surfing behavior is usually anonymous, i.e. we will not be able to identify you from this data. You can object to this analysis or prevent it by not using certain tools. Detailed information can be found in the following privacy policy.
              p You can object to this analysis. We will inform you below about how to exercise your options in this regard.
          h2 2. General information and mandatory information
          dl
            dt Data protection
            dd 
              p The operators of this website take the protection of your personal data very seriously. We treat your personal data as confidential and in accordance with the statutory data protection regulations and this privacy policy.
              p If you use this website, various pieces of personal data will be collected. Personal information is any data with which you could be personally identified. This privacy policy explains what information we collect and what we use it for. It also explains how and for what purpose this happens.
              p Please note that data transmitted via the internet (e.g. via email communication) may be subject to security breaches. Complete protection of your data from third-party access is not possible.
          dl
            dt Notice concerning the party responsible for this website
            dd 
              p 
                | The party responsible for processing data on this website is:
                br
                | ProJect Pharmaceutics GmbH
                br
                | Fraunhoferstraße 22
                br
                | 82152 Martinsried
              p
                | Telephone: +49 89 452289700
                br
                | Email: info@project-pharmaceutics.com
              p The responsible party is the natural or legal person who alone or jointly with others decides on the purposes and means of processing personal data (names, email addresses, etc.).
          dl
            dt How do we collect your data? 
            dd 
              p Some data are collected when you provide it to us. This could, for example, be data you enter on a contact form.
              p Other data are collected automatically by our IT systems when you visit the website. These data are primarily technical data such as the browser and operating system you are using or when you accessed the page. These data are collected automatically as soon as you enter our website.
      div(data-scroll-section)
        include parts/footer/footer.pug
