doctype html
html(lang="en")
  include parts/head/head.pug
  +head('Referral Partners')
  body
    include parts/header/header.pug
    include parts/intro/intro.pug
    +intro('Referral Partners', 'Refer your way into a Tesla', 'SIMPLE DEALS FOR GREAT COMPANIES & OWNERS', '© 2022')
    include parts/poster/poster-referral-partners.pug
    include parts/footer/footer.pug
