doctype html
html(lang="en")
  include parts/head/head.pug
  +head('Referral Partners')
  body
    include parts/header/header.pug
    include parts/intro/intro.pug
    +intro('Referral Partners', 'Refer your way into a Tesla')
    include parts/footer/footer.pug
