<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M5.8885 1.5358L4.6073 0L0 3.8436L1.2811 5.3794L5.8885 1.5358ZM15.2805 0.0006L19.8879 3.8442L18.6067 5.38L13.9993 1.5364L15.2805 0.0006ZM8.484 12.7196L6.354 10.5896L5.294 11.6496L8.474 14.8296L14.474 8.8296L13.414 7.7696L8.484 12.7196ZM9.944 2.1896C4.974 2.1896 0.944 6.2196 0.944 11.1896C0.944 16.1596 4.974 20.1896 9.944 20.1896C14.914 20.1896 18.944 16.1596 18.944 11.1896C18.944 6.2196 14.914 2.1896 9.944 2.1896ZM2.944 11.1896C2.944 15.0496 6.084 18.1896 9.944 18.1896C13.804 18.1896 16.944 15.0496 16.944 11.1896C16.944 7.3296 13.804 4.1896 9.944 4.1896C6.084 4.1896 2.944 7.3296 2.944 11.1896Z" fill="currentColor"/>
</svg>
