<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1 11C1 5.5 5.5 1 11 1C16.5 1 21 5.5 21 11C21 16.5 16.5 21 11 21C5.5 21 1 16.5 1 11ZM3.00009 10.9998C3.00009 15.4098 6.59009 18.9998 11.0001 18.9998C15.4101 18.9998 19.0001 15.4098 19.0001 10.9998C19.0001 6.58982 15.4101 2.99982 11.0001 2.99982C6.59009 2.99982 3.00009 6.58982 3.00009 10.9998ZM16.0001 13.9999V15.9999H6.00009V13.9999H16.0001ZM7.40009 8.29972L9.30009 10.1997L14.6001 4.89972L16.0001 6.29972L9.30009 12.9997L6.00009 9.69972L7.40009 8.29972Z" fill="currentColor"/>
</svg>
