<svg width="276.8" height="182.23" viewBox="0 0 276.8 182.23" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M250.43,180.77s128.86-106.9,8-131.18C149.32,27.67,26.66,127.84,35.83,180.86c9.2,53.25,82,44.25,137.37,26.86C247.48,184.38,367.4,77.39,273.26,46.24,185.08,17.07,38.7,118.92,38.7,118.92" stroke="currentColor" stroke-width="2" transform="translate(-34.34 -39.99)"/>
</svg>
