<svg width="60" height="58" viewBox="0 0 60 58" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M59.97 21.5C59.97 19.34 58.86 17.45 57.15 16.4L30 0.5L2.85 16.4C1.14 17.45 0 19.34 0 21.5V51.5C0 54.8 2.7 57.5 6 57.5H54C57.3 57.5 60 54.8 60 51.5L59.97 21.5ZM53.9701 21.5008V21.5308L30.0001 36.5008L6.00014 21.5008L30.0001 7.46076L53.9701 21.5008ZM6.00014 28.5194V51.4994H54.0001L53.9701 28.6094L30.0001 43.5794L6.00014 28.5194Z" fill="currentColor"/>
</svg>
