<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M10 2H18C19.1 2 20 2.9 20 4V14C20 15.1 19.1 16 18 16H2C0.9 16 0 15.1 0 14L0.01 2C0.01 0.9 0.9 0 2 0H8L10 2ZM2 2V14H18V4H9.17L7.17 2H2ZM13 9C14.1 9 15 8.1 15 7C15 5.9 14.1 5 13 5C11.9 5 11 5.9 11 7C11 8.1 11.9 9 13 9ZM17 12V13H9V12C9 10.67 11.67 10 13 10C14.33 10 17 10.67 17 12Z" fill="currentColor"/>
</svg>
