<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M14 -0.000976562H1C0.45 -0.000976562 0 0.449023 0 0.999023V14.999L4 10.999H14C14.55 10.999 15 10.549 15 9.99902V0.999023C15 0.449023 14.55 -0.000976562 14 -0.000976562ZM13 1.99902V8.99902H3.17L2 10.169V1.99902H13ZM17 3.99902H19C19.55 3.99902 20 4.44902 20 4.99902V19.999L16 15.999H5C4.45 15.999 4 15.549 4 14.999V12.999H17V3.99902Z" fill="currentColor"/>
</svg>
