<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.9925 0.5C3.8525 0.5 0.5 3.8525 0.5 8C0.5 12.1475 3.8525 15.5 7.9925 15.5C12.1325 15.5 15.5 12.1475 15.5 8C15.5 3.8525 12.14 0.5 7.9925 0.5ZM8 14C4.685 14 2 11.315 2 8C2 4.685 4.685 2 8 2C11.315 2 14 4.685 14 8C14 11.315 11.315 14 8 14ZM9.545 7.24987L8.75 6.45487L10.34 4.86487L11.93 6.45487L11.135 7.24987L10.34 6.45487L9.545 7.24987ZM5.66001 6.45487L6.45501 7.24987L7.25001 6.45487L5.66001 4.86487L4.07001 6.45487L4.86501 7.24987L5.66001 6.45487ZM11.8324 9.5C11.2324 11.03 9.74742 12.125 7.99992 12.125C6.25242 12.125 4.76742 11.03 4.16742 9.5H11.8324Z" fill="currentColor"/>
</svg>
