<svg width="35" height="43" viewBox="0 0 35 43" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.5669 0H15.4331V36.7206L0 23.7794V27.085C0 28.5771 0.666379 29.9912 1.81709 30.9411L14.4297 41.3519C16.2888 42.8865 18.9781 42.8761 20.8253 41.3272L33.2127 30.9399C34.3456 29.9899 35 28.5872 35 27.1086V23.7794L19.5669 36.7206V0Z" fill="#F1EDE8"/>
</svg>
