<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M6 0H20C21.1 0 22 0.9 22 2V16C22 17.1 21.1 18 20 18H6C4.9 18 4 17.1 4 16V2C4 0.9 4.9 0 6 0ZM6 16H20V2H6V16ZM2 4H0V20C0 21.1 0.9 22 2 22H18V20H2V4ZM16 10.5V12C16 13.11 15.1 14 14 14H10V12H14V10H12V8H14V6H10V4H14C15.1 4 16 4.89 16 6V7.5C16 8.33 15.33 9 14.5 9C15.33 9 16 9.67 16 10.5Z" fill="currentColor"/>
</svg>
