<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M20 0H6C4.9 0 4 0.9 4 2V16C4 17.1 4.9 18 6 18H20C21.1 18 22 17.1 22 16V2C22 0.9 21.1 0 20 0ZM0 4H2V20H18V22H2C0.9 22 0 21.1 0 20V4ZM16 14H14V10H10V4H12V8H14V4H16V14ZM6 16H20V2H6V16Z" fill="currentColor"/>
</svg>
