<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M6 0H20C21.1 0 22 0.9 22 2V16C22 17.1 21.1 18 20 18H6C4.9 18 4 17.1 4 16V2C4 0.9 4.9 0 6 0ZM0 4H2V20H18V22H2C0.9 22 0 21.1 0 20V4ZM20 16H6V2H20V16ZM12 12H16V14H10V10C10 8.89 10.9 8 12 8H14V6H10V4H14C15.1 4 16 4.89 16 6V8C16 9.11 15.1 10 14 10H12V12Z" fill="currentColor"/>
</svg>
