<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="Icon  / Sad">
<path id="icon/social/mood_bad_24px" fill-rule="evenodd" clip-rule="evenodd" d="M7.9925 0.5C3.8525 0.5 0.5 3.86 0.5 8C0.5 12.14 3.8525 15.5 7.9925 15.5C12.14 15.5 15.5 12.14 15.5 8C15.5 3.86 12.14 0.5 7.9925 0.5ZM8 14C4.685 14 2 11.315 2 8C2 4.685 4.685 2 8 2C11.315 2 14 4.685 14 8C14 11.315 11.315 14 8 14ZM11.75 6.125C11.75 6.7475 11.2475 7.25 10.625 7.25C10.0025 7.25 9.5 6.7475 9.5 6.125C9.5 5.5025 10.0025 5 10.625 5C11.2475 5 11.75 5.5025 11.75 6.125ZM5.375 7.25C5.9975 7.25 6.5 6.7475 6.5 6.125C6.5 5.5025 5.9975 5 5.375 5C4.7525 5 4.25 5.5025 4.25 6.125C4.25 6.7475 4.7525 7.25 5.375 7.25ZM4.16742 11.75C4.76742 10.22 6.25242 9.125 7.99992 9.125C9.74742 9.125 11.2324 10.22 11.8324 11.75H4.16742Z" fill="currentColor"/>
</g>
</svg>
