<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M6.8885 2.5358L5.6073 1L1 4.8436L2.2811 6.3794L6.8885 2.5358ZM16.2805 1.0006L20.8879 4.8442L19.6067 6.38L14.9993 2.5364L16.2805 1.0006ZM9.484 13.7196L7.354 11.5896L6.294 12.6496L9.474 15.8296L15.474 9.8296L14.414 8.7696L9.484 13.7196ZM10.944 3.1896C5.974 3.1896 1.944 7.2196 1.944 12.1896C1.944 17.1596 5.974 21.1896 10.944 21.1896C15.914 21.1896 19.944 17.1596 19.944 12.1896C19.944 7.2196 15.914 3.1896 10.944 3.1896ZM3.944 12.1896C3.944 16.0496 7.084 19.1896 10.944 19.1896C14.804 19.1896 17.944 16.0496 17.944 12.1896C17.944 8.3296 14.804 5.1896 10.944 5.1896C7.084 5.1896 3.944 8.3296 3.944 12.1896Z" fill="currentColor"/>
</svg>
