.section {
  padding-left: 20px;
  padding-right: 20px;
}
.section-title {
  font-size: 34px;
  @media (min-width: 1024px) {
    font-size: 60px;
  }
  &__title {
    max-width: 700px;
    white-space: pre;
    @media (max-width: 500px) {
      white-space: normal;
    }
  }
  &__number {
    display: none;
    @media (min-width: 768px) {
      max-width: 33.33%;
      min-width: 33.33%;
      display: block;
    }
  }
}
.section-text {
  &__text {
    @media (min-width: 768px) {
      width: 33.33%;
      min-width: 33.33%;
    }
  }
  &__image {
    &--1-2 {
      @media (min-width: 768px) {
        width: 66.66%;
      }
    }
    &--1-7 {
      @media (min-width: 768px) {
        width: 66.66%;
      }
    }
  }
}