mixin sectionTitle(title, number)
  div(class="section-title flex items-end justify-between tracking-tighter md:pb-9 pb-7 leading-none font-bold bb-1-black")
    div(class="section-title__title whitespace-pre") #{title}
    div(class="section-title__number") #{number}
